@page "/"

<h1>Hello, world!</h1>

<div>- @testString - </div>

<button @onclick="handleClick">Click me</button>



@code {
    string testString = "";

    private void handleClick()
    {
        testString = "I am here";
    }


}